In [3]:
import math
import scipy.stats as st
import pandas as pd

In [24]:
#Problem 1:
#Expected frequency under NULL hypothesis = (row Total * Column Total)/Sample size
table={"HighSchool":[60,40,100],"Bachelors":[54,44,98],"Masters":[46,53,99],"Ph.D":[41,57,98],"Total":[201,194,395]}
df=pd.DataFrame(table,index=["Female","Male","Total"])
df.dtypes

HighSchool    int64
Bachelors     int64
Masters       int64
Ph.D          int64
Total         int64
dtype: object

In [27]:
# table of expected values
df2=df.astype(float)
df2["HighSchool"]["Female"]=(df["Total"]["Female"]*df["HighSchool"]["Total"])/395
df2["HighSchool"]["Male"]=(df["Total"]["Male"]*df["HighSchool"]["Total"])/395
df2["Bachelors"]["Female"]=(df["Total"]["Female"]*df["Bachelors"]["Total"])/395
df2["Bachelors"]["Male"]=(df["Total"]["Male"]*df["Bachelors"]["Total"])/395
df2["Masters"]["Female"]=(df["Total"]["Female"]*df["Masters"]["Total"])/395
df2["Masters"]["Male"]=(df["Total"]["Male"]*df["Masters"]["Total"])/395
df2["Ph.D"]["Female"]=(df["Total"]["Female"]*df["Ph.D"]["Total"])/395
df2["Ph.D"]["Male"]=(df["Total"]["Male"]*df["Ph.D"]["Total"])/395
df2

        HighSchool  Bachelors    Masters       Ph.D  Total
Female   50.886076  49.868354  50.377215  49.868354  201.0
Male     49.113924  48.131646  48.622785  48.131646  194.0
Total   100.000000  98.000000  99.000000  98.000000  395.0