In [10]:
import math
import scipy.stats as st
import pandas as pd
import numpy as np
import statistics

In [2]:
#Problem 1:
#Expected frequency under NULL hypothesis = (row Total * Column Total)/Sample size
table={"HighSchool":[60,40,100],"Bachelors":[54,44,98],"Masters":[46,53,99],"Ph.D":[41,57,98],"Total":[201,194,395]}
df=pd.DataFrame(table,index=["Female","Male","Total"])
df.dtypes

HighSchool    int64
Bachelors     int64
Masters       int64
Ph.D          int64
Total         int64
dtype: object

In [3]:
# table of expected values
df2=df.astype(float)
df2["HighSchool"]["Female"]=(df["Total"]["Female"]*df["HighSchool"]["Total"])/395
df2["HighSchool"]["Male"]=(df["Total"]["Male"]*df["HighSchool"]["Total"])/395
df2["Bachelors"]["Female"]=(df["Total"]["Female"]*df["Bachelors"]["Total"])/395
df2["Bachelors"]["Male"]=(df["Total"]["Male"]*df["Bachelors"]["Total"])/395
df2["Masters"]["Female"]=(df["Total"]["Female"]*df["Masters"]["Total"])/395
df2["Masters"]["Male"]=(df["Total"]["Male"]*df["Masters"]["Total"])/395
df2["Ph.D"]["Female"]=(df["Total"]["Female"]*df["Ph.D"]["Total"])/395
df2["Ph.D"]["Male"]=(df["Total"]["Male"]*df["Ph.D"]["Total"])/395
df2

        HighSchool  Bachelors    Masters       Ph.D  Total
Female   50.886076  49.868354  50.377215  49.868354  201.0
Male     49.113924  48.131646  48.622785  48.131646  194.0
Total   100.000000  98.000000  99.000000  98.000000  395.0

#Formula of Chi-Square Test:
X^2 = Sum[(O-E)^2] / E
where O represents the observed frequency. E is the expected frequency under the null hypothesis

In [5]:
chi=((60-50.886)**2)/50.886
chi=chi+(((40-49.114)**2)/49.114)+(((54-49.868)**2)/49.868)+(((44-48.132)**2)/48.132)+(((46-50.377)**2)/50.377)
chi=chi+(((53-48.623)**2)/48.623)+(((41-49.868)**2)/49.868)+(((57-48.132)**2)/48.132)
chi

8.005907121109098

In [7]:
print("The critical value of χ2 with 3 degree of freedom is 7.815.")
print("Since 8.006 > 7.815, therefore we reject the null hypothesis and ")
print("conclude that the education level depends on gender at a 5% level of significance.")

The critical value of χ2 with 3 degree of freedom is 7.815.
Since 8.006 > 7.815, therefore we reject the null hypothesis and
conclude that the education level depends on gender at a 5% level of significance.

In [15]:
#problem 2:
#Perform a oneway analysis of variance using α=.05 with given data. Write up the results in APA format.
group1=[51, 45, 33, 45, 67]
group2=[23, 43, 23, 43, 45]
group3=[56, 76, 74, 87, 56]

mean1=np.mean(group1)
mean2=np.mean(group2)
mean3=np.mean(group3)

print("Mean of group1 is {:.2f}".format(mean1))
print("Mean of group2 is {:.2f}".format(mean2))
print("Mean of group3 is {:.2f}".format(mean3))

Mean of group1 is 48.20
Mean of group2 is 35.40
Mean of group3 is 69.80

In [14]:
#Problem 3:
#Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25. For 10, 20, 30, 40, 50:

#Variance for first set:

val1=[10,20,30,40,50]
std1=statistics.stdev(val1)

#Variance for second set:

val2=[5,10,15, 20, 25]
std2=statistics.stdev(val2)

#F-test = (Variance of means)/(Variance of individuals)
F=((std1)**2)/((std2)**2)

print("Variance of means is {:.2f}".format((std1)**2))

print("Variance of individuals is {:.2f}".format((std2)**2))

print("The F test value is {:.2f}".format(F))

Variance of means is 250.00
Variance of individuals is 62.50
The F test value is 4.00